.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}

.password-container {
  display: flex;
  align-items: center;
}
  

.password-container input {
  width: 100%;
  padding-right: 40px;
}

.toggle-password {
  position: absolute;
  right: 1090px;
  top: 51%;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: 5px;
}
  
.toggle-password:focus {
  outline: none;
}